/* .stcCommerce-products ul.products li.product .product-bg {
	height: 320px;
	background-color: #ddd;
	background-position: center;
	background-size: cover;
	text-align: center;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stcCommerce-products ul.products li.product h2.woocommerce-loop-product__title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.stcCommerce-products ul.products li.product .price {
	color: #000;
	display: block;
	font-weight: 400;
	margin-bottom: .5em;
	text-align: center;
} */

/* ul.products li.product .product-bg {
	height: 320px;
	background-color: #ddd;
	background-position: center;
	background-size: cover;
	text-align: center;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 ul.products li.product h2.woocommerce-loop-product__title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
ul.products li.product .price {
	color: #000;
	display: block;
	font-weight: 400;
	margin-bottom: .5em;
	text-align: center;
}

 ul.products li.product .star-rating {
    margin: 0 auto;
}

.product-buttons>div {
    display: inline-block;
}
.product-buttons i.fa {
    height: 40px;
    width: 40px;
    background: #757575;
    color: #fff;
    line-height: 40px;
    margin: 10px !important;
    border-radius: 50%;
} */